/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

/* CSS too show/hide nav scrolled timer */

.navbar .navbar-expand-lg .navbar-light .position-fixed .scrolled > a#srolled_nav{
    visibility: hidden;
}

#scrolled_nav .navbar.scrolled, .navbar.navbar-toggled-show{
    visibility: visible;
}

body{
    font-family: 'Inconsolata', monospace !important;
}

.pixel{
    font-family: 'Press Start 2P', cursive !important;
}